<!DOCTYPE html>
<html lang="en">
<head>
    {{> metatags}}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.2.1/jssocials.css" />
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.2.1/jssocials-theme-flat.css" />

    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.2.1/jssocials.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>

    <link rel="stylesheet" href="../css/candidate.css{{timeHash}}">
    <link rel="stylesheet" href="../css/default.css{{timeHash}}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{{> header}}
{{> share}}
<div class="container-fluid text-center" id="grafico">
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="pieChart">
                <svg id="pieChartSVG">
                    <defs>
                        <filter id='pieChartInsetShadow'>
                            <feOffset dx='0' dy='0'/>
                            <feGaussianBlur stdDeviation='3' result='offset-blur' />
                            <feComposite operator='out' in='SourceGraphic' in2='offset-blur' result='inverse' />
                            <feFlood flood-color='black' flood-opacity='1' result='color' />
                            <feComposite operator='in' in='color' in2='inverse' result='shadow' />
                            <feComposite operator='over' in='shadow' in2='SourceGraphic' />
                        </filter>
                        <filter id="pieChartDropShadow">
                            <feGaussianBlur in="SourceAlpha" stdDeviation="3" result="blur" />
                            <feOffset in="blur" dx="0" dy="3" result="offsetBlur" />
                            <feMerge>
                                <feMergeNode />
                                <feMergeNode in="SourceGraphic" />
                            </feMerge>
                        </filter>
                    </defs>
                </svg>
            </div>
        </div>
<script>
var $data = [{
    color: 'red',
    description: 'Ipsem lorem text goes here. And foo goes bar goes baz. That\'s up!!!',
    title: 'flowers',
    value: 0.62
},
{
    color: 'blue',
    description: 'Another ipsem text goes here. And baz goes bar goes foo. Oh yeah, whazzz up?',
    title: 'trains',
    value: 0.38
}];
</script>
<script src="../js/pie-chart.js{{timeHash}}"></script>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">

            <div class="row vereador-circle {{class}} pagina {{type}}">
                <div>
                    <div class="foto" style="background-image: url('{{photo}}');"></div>
                </div>
                <div>
                    <h2>{{fullName}}</h2>
                    <p>{{party}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel {{panelColor}}" id="dados-vereador">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-table"></i> Entre em contato com {{art}} {{type}}</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nome</label>
                            <div class="col-sm-9"><p class="form-control-static">{{fullName}}</p></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">partido</label>
                            <div class="col-sm-9"><p class="form-control-static">{{party}}
                            </p></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Telefone</label>
                            <div class="col-sm-9"><p class="form-control-static">{{phone}}</p></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">E-mail</label>
                            <div class="col-sm-9"><p class="form-control-static"><a href="mailto:{{email}}" rel="nofollow">{{email}}</a></p></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Página</label>
                            <div class="col-sm-9"><p class="form-control-static"><a href="{{site}}" target="_blank">Página Pessoal</a></p></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Gabinete</label>
                            <div class="col-sm-9"><p class="form-control-static">{{cabinet}}</p></div>
                        </div>
                    </form>

                    <div class="row" id="icones-sociais">
                        <div class="col-sm-6">
                            <a class="btn btn-block btn-social btn-lg btn-facebook" rel="nofollow" href="{{facebook}}" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
                        </div>

                        <div class="col-sm-6">
                            <a class="btn btn-block btn-social btn-lg btn-youtube" rel="nofollow" href="{{twitter}}" target="_blank"><i class="fa fa-youtube"></i> Twitter</a>
                        </div>
                    </div>


                </div>

                <div class="panel-footer" style="font-size: 80%;">
                    <h4 style="margin-top: 0px;">O que você pode fazer?</h4>


                    <p>
                        Acima você encontra várias formas de entrar em contato com {{art}} {{type}}.
                    </p>
                    <p>
                        Já que {{art}} {{type}} está <b>{{pos}}</b>,
                        você pode entrar em contato com ela para cobrá-lo por seu posicionamento.
                        Com as informações que já são públicas, é inaceitável um vereador não se posicionar.
                    </p>
                    <p>
                        Use os dados de contato acima para escrever para ela, telefonar ou
                        postar nas suas redes sociais, cobrando seu posicionamento.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>