<!DOCTYPE html>
<html lang="en">
<head>
    {{> metatags}}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.2.1/jssocials.css" />
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.2.1/jssocials-theme-flat.css" />

    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/jquery.jssocials/1.2.1/jssocials.min.js"></script>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/js/biPartite-{{version}}.min.js"></script>
    <link rel="stylesheet" href="/css/default-{{version}}.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{{> header}}
{{> share}}

<div class="container-fluid text-center" id="estados">
    <div class="panel panel-default">
        <div class="panel-body">
            <span id="states-list"></span>
        </div>
        <script src="/js/state-menu-{{version}}.min.js"></script>
    </div>
</div>

<div class="container-fluid text-center" id="graficos">
    <div class="panel panel-default">
        <div class="panel-body">
            <span id="quoeficientes"></span>
        </div>
    </div>
</div>

<script>
    var state = 'SP';
    var base = 'https://rawgit.com/quem-elegeu/site-generator/master/data/';
    function getResume(state) {
        state = state.trim().toUpperCase();
        var url = base + state + '/resume_' + state + '.json?t=2016-04-24-03-18';
        $.get(url, function (body) {
            var res = 'string' === typeof body ? JSON.parse(body) : body;
            var part = {},
                resume = [] ;
            res.forEach(function(r) {
                var b = ['', r[1], r[2], 1];
                b[0] = r[0].split(/\s*-\s*/)[0];
                var key = b[0]+'<='+b[1];
                if (!part[key]) {
                    part[key] = resume.length;
                    resume.push(b);
                } else {
                    var ref = resume[part[key]];
                    ref[2] += b[2];
                    ref[3]++;
                }
            });
            resume = resume.sort(function(a, b) {
                if (a[3] > b[3]) return 1;
                else if (a[3] < b[3]) return -1;
                else return 0;
            }).map(function(r) {
                r[0] += ' ( '+r[3]+' )'; return r;
            });
            var data = [{
                data: bP.partData(resume, 2),
                id: 'Candidates',
                header: ["Eleitos", "Ajudou", "Deputados Federais "+state]
            }];
            d3.selectAll("svg").remove();

            var _width = width;
            var _height = height + resume.length*10;
            if (_height < 700) _height = 710;
            var svg = d3.select("#quoeficientes")
                    .append("svg").attr('width',_width).attr('height',(_height+margin.b+margin.t))
                    .append("g").attr("transform","translate("+ margin.l+","+(margin.t)+")");
            bP.draw(data, svg);
        });
    }
    getResume(state);
</script>

<script>
$(function () {
    $('.btn').on('click', function() {
        ga && ga('send', 'event', 'mail','click', $(this).text().trim());
    });
});
</script>
{{> footer}}
</body>
</html>