<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand site-link" href="/"><img class="site-logo" src="/images/quem-elegeu-inv-32x32-{{version}}.png"></a>
        </div>
        <!--<div id="navbar" class="navbar-collapse collapse">-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a href="{{baseUrl}}/partidos.html">Partidos</a></li>-->
                <!--<li><a href="{{baseUrl}}/como-funciona.html">Como Funciona?</a></li>-->
                <!--<li><a href="{{baseUrl}}/achou-erro.html">Achou um erro?</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>
</nav>
<br/>