
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<title>{{title}}</title>

<meta name="description" content="{{desc}}">
<link rel="canonical" href="{{url}}/">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{{title}}">
<meta itemprop="description" content="{{desc}}">
<meta itemprop="image" content="{{imageUrl}}">

<!-- Open Graph data -->
<meta property="og:type" content="cause">
<meta property="og:title" content="{{title}}">
<meta property="og:description" content="{{desc}}">
<meta property="og:image" content="{{imageUrl}}">
<meta property="og:image:width" content="300">
<meta property="og:image:height" content="300">
<meta property="og:url" content="{{url}}/">
<meta property="og:site_name" content="{{title}}">

<!-- Twitter Card data -->
<meta property="twitter:card" content="summary">
<meta property="twitter:url" content="{{url}}/">
<meta property="twitter:title" content="{{title}}">
<meta property="twitter:share_text" content="{{title}}">
<meta property="twitter:description" content="{{desc}}">
<meta property="twitter:image" content="{{imageUrl}}">
<meta property="twitter:creator" content="@mblivre">

<link rel="apple-touch-icon" sizes="57x57" href="{{baseUrl}}/images/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{baseUrl}}/images/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{baseUrl}}/images/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{baseUrl}}/images/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{baseUrl}}/images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{baseUrl}}/images/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{baseUrl}}/images/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{baseUrl}}/images/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{baseUrl}}/images/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{baseUrl}}/images/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{baseUrl}}/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{baseUrl}}/images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{baseUrl}}/images/favicon-16x16.png">
<link rel="manifest" href="{{baseUrl}}/images/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{baseUrl}}/images/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-76851970-2', 'auto');
ga('send', 'pageview');
</script>
